{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head %}

<title>UAP - Login</title>

{% endblock %} 

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rounded border p-4" style="background-color: #8C00FF99;">
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center mb-4" style="color: white">
                        {{form|crispy}}
                    </div>
                    <p class="text-center text-white">Don't have an account? Create one <a href="/sign-up"class="text-white"style="color: #004AAD;">Here</a></p>
                    <button type="submit" class="btn btn-success btn-block" style="background-color: #004AAD;">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %} 