<form style="margin-bottom: 10px;" id="point-form">
    <div class="row row-cols-4">
        <div class="col-sm-1">
            <label for="index{{ index }}">Index</label>
            <input type="text" id="index{{ index }}" name="index{{ index }}" value="{{ index }}">
        </div>
        <div class="col-sm-2">
            <label for="{{ point_form.latitude.id_for_label }}">{{ point_form.latitude.label }}</label>
            <input type="text" id="{{ point_form.latitude.id_for_label }}" name="{{ point_form.latitude.name }}" value="{{ point_form.latitude.value }}">
        </div>
        <div class="col-sm-2">
            <label for="{{ point_form.longitude.id_for_label }}">{{ point_form.longitude.label }}</label>
            <input type="text" id="{{ point_form.longitude.id_for_label }}" name="{{ point_form.longitude.name }}" value="{{ point_form.longitude.value }}">
        </div>
        <div class="col-sm-6">
            <label for="{{ point_form.description.id_for_label }}">{{ point_form.description.label }}</label>
            {{ point_form.description }}
        </div>
    </div>
</form>