{% extends 'main/base.html' %}

{% load static %}

{% block head %}
<title>UAP - profile</title>
{% endblock %} 

{% block body %}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-lg-6 d-flex flex-column justify-content-between align-items-stretch" style="padding: 5%;">
            <div id="map" style="width: 600px; height: 600px;"></div>
        </div>
        <!-- Right container -->
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: #004AAD; font-size: 1.2rem;">Add points on the map</p>
                        <button class="btn btn-primary" id="generatePathBtn"  style="background-color: #004AAD;"  onclick="generatePath()" disabled>Generate path</button>
                    </div>
                </div>
                <h1>Initial Route Form</h1>
                <form method="post" action="{% url 'add-adventure' %}" class="mt-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_description">Description:</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label for="id_city_name">City Name:</label>
                        {{ form.city_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_list_coordinates">List of Coordinates:</label>
                        {{ form.list_coordinates }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div id="coordinatesDisplay" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/add_post_map.js' %}"></script>

{% endblock %}
 