{% extends 'main/base.html' %}

{% load static %}

{% block head %}
<title>UAP - profile</title>
{% endblock %} 

{% block body %}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-lg-6 d-flex flex-column justify-content-between align-items-stretch" style="padding: 5%;">
            <div id="map" style="width: 600px; height: 600px;"></div>
        </div>
        <!-- Right container -->
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: #004AAD; font-size: 1.2rem;">Add points on the map</p>
                        <button class="btn btn-primary" id="generatePathBtn"  style="background-color: #004AAD;"  onclick="generatePath()" disabled>Generate path</button>
                    </div>
                </div>
                <h4>Route Description</h4>
                {{ route_form.as_p}}

                <h4>Points description</h4>
                <!-- {{ point_form.as_p}} -->
                
                <div id="point-form">
                    {% include 'partials/add_point_form.html' %}
                </div>

                <div class="col-3 align-self-end">
                    <button class="btn" style="background-color: #004AAD;" type="submit"
                    hx-get="{% url 'add-point' %}"
                    hx-target="#point-form"
                    hx-swap="beforeend">Add point</button>
                </div>

                <!-- <input type="text" id="adventureName" placeholder="Adventure Name">
                <textarea id="adventureDescription" placeholder="Adventure Description"></textarea>
                
                <form id="pointForm">
                    <input type="text" id="latitude" placeholder="Latitude" readonly>
                    <input type="text" id="longitude" placeholder="Longitude" readonly>
                    <input type="text" id="pointDescription" placeholder="Point Description">
                </form>
                
                <button onclick="createAdventure()">Create</button>
                

                <div id="pointList"></div> -->
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/add_post_map.js' %}"></script>

{% endblock %}
 